.DS_Store
*.log*
*.cpuprofile
node_modules/

dist/
dist-*
compiled/
coverage/
doc_build/
tsconfig.tsbuildinfo

# Test temp files
test-temp-*

# skills-package-manager
.agents/skills
.gemini/skills

# skills-test
skills-test/**/*
!skills-test/*/
!skills-test/*/evals/
!skills-test/*/evals/evals.json

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
