.DS_Store
*.log*
*.cpuprofile
node_modules/

dist/
dist-*
compiled/
coverage/
doc_build/
tsconfig.tsbuildinfo

# Test temp files
test-temp-*

# skills-test
skills-test/**/*
!skills-test/*/
!skills-test/*/evals/
!skills-test/*/evals/evals.json
!skills-test/*/report.md

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json

# skills-package-manager
.agents/**/*
.gemini/**/*
.claude/**/*

# Keep local skills tracked
!.agents/
!.agents/skills/
!.agents/skills/rstack-skill-evaluator/
!.agents/skills/rstack-skill-evaluator/**
!.agents/skills/pr-creator/
!.agents/skills/pr-creator/**

# Keep local skills tracked
!.agents/skills/mdx-to-markdown/
!.agents/skills/mdx-to-markdown/**
!.agents/skills/create-draft-release-notes/
!.agents/skills/create-draft-release-notes/**
!.agents/skills/rstack-repo-maintain/
!.agents/skills/rstack-repo-maintain/**
!.agents/skills/rstack-eco-ci-debug/
!.agents/skills/rstack-eco-ci-debug/**
!.agents/skills/release-blog-writer/
!.agents/skills/release-blog-writer/**
